@model IEnumerable<Kursach.Arraiving>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;">Надходження</h2>

<table class="striped bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Provider_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Scrap_MetalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArravingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Store_Id)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Provider_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scrap_MetalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArravingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store_Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) | @Html.ActionLink("Delete", "Delete", new { id = item.Id })          
            </td>
        </tr>
    }
</table>
<div id="openPopup-create">
    <a class="waves-effect waves-light btn-large add-metal">Додати прибуття</a>
</div>

<div id="modal_form">
    <!-- Сaмo oкнo -->
    <span id="modal_close">X</span> <!-- Кнoпкa зaкрыть -->
    @Html.Partial("Create", new Kursach.Arraiving());
</div>
<div id="overlay"></div><!-- Пoдлoжкa --> 

<div class="additional-action">
    <a href=@Url.RouteUrl("ArraivingDetails") class="waves-effect waves-light btn-large">Деталі металів</a>
</div>