@model IEnumerable<Kursach.Consumption>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Receiver_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Scrap_MetalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArravingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Store_Id)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Receiver_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scrap_MetalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArravingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store_Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) | @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                <a class="custom">Delete</a>
                <div id="modal_form_delete">
                    <!-- Сaмo oкнo -->
                    <span id="modal_close_delete">X</span> <!-- Кнoпкa зaкрыть -->
                    @Html.Partial("Delete", item);
                </div>
                <div id="overlay_delete"></div><!-- Пoдлoжкa -->
            </td>
        </tr>
    }
</table>
<div id="openPopup-create">
    <a class="waves-effect waves-light btn-large add-metal">Додати прибуття</a>
</div>

<div id="modal_form">
    <!-- Сaмo oкнo -->
    <span id="modal_close">X</span> <!-- Кнoпкa зaкрыть -->
    @Html.Partial("Create", new Kursach.Consumption());
</div>
<div id="overlay"></div><!-- Пoдлoжкa --> 