@model IEnumerable<Kursach.Scrap>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LisOfMetalToPDF</title>
</head>
<body>
    <div class="right-sign" style="text-align:right;width:100%">
        <p>ЗАТВЕРДЖУЮ</p>

        <p>Начальник Металобази</p>

        <p>Р.Г.Зінченко</p>

        <p>31.12.2016</p>
    </div>
    <h1 style="text-align:center;">Звіт</h1>
    <h1 style="text-align:center;">Метали,що знаходяться на підприємстві</h1>
    <table style="margin: 0 auto;
           font-size:30px;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Density)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store_Id)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MetalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Density)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Store_Id)
                </td>
            </tr>
        }

    </table>
</body>
</html>
