@model IEnumerable<Kursach.Provider>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassportCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassportCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) | @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                <a class="custom">Delete</a>
                <div id="modal_form_delete">
                    <!-- Сaмo oкнo -->
                    <span id="modal_close_delete">X</span> <!-- Кнoпкa зaкрыть -->
                    @Html.Partial("Delete", item);
                </div>
                <div id="overlay_delete"></div><!-- Пoдлoжкa -->
            </td>
        </tr>
    }
</table>
<div id="openPopup-create">
    <a class="waves-effect waves-light btn-large add-metal">Додати провайдера</a>
</div>

<div id="modal_form">
    <!-- Сaмo oкнo -->
    <span id="modal_close">X</span> <!-- Кнoпкa зaкрыть -->
    @Html.Partial("Create", new Kursach.Provider());
</div>
<div id="overlay"></div><!-- Пoдлoжкa --> 

<div class="additional-action">
    <a href=@Url.RouteUrl("VIPProviders") class="waves-effect waves-light btn-large">VIP постачальники</a>
</div>