@model IEnumerable<Kursach.VIPProvider>

@{
    Layout=null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LisOfProvidersToPDF.cshtml</title>
</head>
<body>
    <div class="right-sign" style="text-align:right;width:100%">
        <p>ЗАТВЕРДЖУЮ</p>

        <p>Начальник Металобази</p>

        <p>Р.Г.Зінченко</p>

        <p>31.12.2016</p>
    </div>
    <h1 style="text-align:center;">Звіт</h1>
    <h1 style="text-align:center;">Список найкращих провайдерів</h1>
    <table style="margin: 0 auto;
           font-size:30px;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassportCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassportCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
            </tr>
        }
    </table>
</body>
</html>
